<section>
    <h2>Milton Snavley Hershey</h2>
    <p>Man of the People</p>
    <img src="https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE1ODA0OTcxNjU5MjAwMDEz/milton-hershey-9337133-1-402.jpg"
        alt="Milton Hershey" itemprop="image" nopin="true" data-pin-no-hover="true">
    <div>
        <p>Skill Level:{{cont.skill.level}} </p>
    </div>
    <button ng-click="cont.slapThem()"> <i class="material-icons">pan_tool</i>Slap</button>
<p>{{cont.lost.result}}</p>
</section>